 * {
	text-transform: capitalize;
}

#comDiv, #tblEmpDiv, #amtDiv {
	display: none;
}

#para01 {
	color: #0000FF;
	font-weight: bold;
}

#empidTable {
	border: none;
}

.scrollable {
	height: 400px;
	overflow: scroll;
}