* {
	text-transform: capitalize;
}

#comDiv {
	display: none;
}

#pYear {
	margin-left: 100px;
	width: 200px;
}

#periodCode {
	margin-left: 30px;
	width: 200px;
	boder: none;
	background-color: #fff;
}

#pMonth {
	margin-left: 105px;
	width: 200px;
}

#pCode3 {
	margin-left: 95px;
	width: 200px;
	margin-top: -30px;
}

#deductTypeCode {
	width: 200px;
}

#addDeType {
	margin-left: 40px;
	width: 200px;
	border: none;
	background-color: #fff;
}

#depDiv {
	margin-left: 80px;
	width: 200px;
}

#depID {
	width: 200px;
}

#locDiv {
	margin-left: 100px;
	width: 200px;
}

#loid {
	width: 200px;
}

#catDiv {
	margin-left: 95px;
	width: 200px;
}

#catgoryID {
	width: 200px;
}

#typDiv {
	margin-left: 125px;
	width: 200px;
}

#tid {
	width: 200px;
}

#selEmpDiv {
	margin-left: 33px;
	width: 200px;
}

#empID {
	width: 200px;
}

#allEmpDiv {
	margin-left: 15px;
	width: 200px;
}









