.container {
	font-size: 13px;
	text-transform: capitalize;
}

input[type="text"], input[type="date"] {
	font-size: 13px;
	height: 29px;
	width: 180px;
}

#amount, #pYear, #pMonth, #pYear1, #pMonth1, #payCode, #desc, #tEmpID1, #year, #payPeriod,
	#month, #vlivateAllEmps, #demo-1 {
	margin-left: 155px;
	margin-top: -30px;
}

p {
	margin-left: -10px;
	color: #6495ED;
	font-weight: bold;
	text-decoration: underline;
}

select, #deductTypeCode, #depID, #loid, #catgoryID, #tid, #empID,
	#tEmpID, #payCode, #NoIconDemo, #sa {
	height: 29px;
	font-size: 13px;
	width: 180px;
	margin-left: 155px;
	margin-top: -30px;
}

input[type="text"], #inlineRadio1, #inlineRadio2, #inlineRadio3,
	#inlineRadio4, #inlineRadio6 {
	margin-left: 130px;
	margin-top: -25px;
}

#inlineRadio5 {
	margin-left: -8px;
	margin-top: 3px;
}

#addDeType, #periodCode, #startDate, #endDate, #periodId {
	margin-left: 10px;
	margin-top: -3px;
	border: none;
}

#l1, #l2 {
	color: #6495ED;
	font-weight: bold;
}

.scrollable {
	height: 200px;
	overflow: scroll;
}

#h1, #h2 {
	visibility: visible;
}

#validateYP, #validateMP, #validatePC, #validateDT, #validateAM, #validateSD, #validateED {
	margin-left: 160px;
	margin-top: 10px;
	color: red;
}

#pCode {
	margin-left: 60px;
	border: none;
	position: absolute;
}

#periodId {
	margin-left: 5px;
	border: none;
	position: absolute;
}

#pc {
	margin-left: -10px;
}

#code2 {
	margin-right: 250px;
}

#pc3 {
	margin-left: 15px;
}

#pCode3 {
	margin-left: 70px;
	margin-top: -30px;
	border:none;
	
}

#abc {
	margin-left: 30px;
}

#periodCodeDiv3 {
	margin-left: 380px;
}

#periodCode3 {
	margin-left: -0px;
	margin-top: -5px;
	border:none;
}

#payCodeDiv3{
	margin-left: 380px;
}

#payCode3 {
	margin-left: -0px;
	margin-top: -5px;
	border:none;
}

#period2 {
	margin-left: -10px;
}
